@charset "utf-8";
/* CSS Document */
/* This code is ugly and I hate it */

@-webkit-keyframes fadeIn { from {opacity:0;} to {opacity:1;}}
@-moz-keyframes fadeIn { from {opacity:0;} to {opacity:1;}}
@keyframes fadeIn { from {opacity:0;} to {opacity:1;}}

@-webkit-keyframes dim { from {opacity:0;} to {opacity:0.5;}}
@-moz-keyframes dim { from {opacity:0;} to {opacity:0.5;}}
@keyframes dim { from {opacity:0;} to {opacity:0.5;}}

@-webkit-keyframes bkgdim { from {opacity:0;} to {opacity:1;}}
@-moz-keyframes bkgdim { from {opacity:0;} to {opacity:1;}}
@keyframes bkgdim { from {opacity:0;} to {opacity:1;}}

@keyframes ticker {
	0% {
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}
	100% {
		-webkit-transform: translate3d(-100%,0,0);
		-moz-transform: translate3d(-100%,0,0);
		transform: translate3d(-100%,0,0);
	}
}

@font-face {
	font-family: Sk-Modernist-Bold;
	src: url('Sk-Modernist-Bold.otf');	
}

body 
{
	background-color: #000000;
	background-repeat:no-repeat;
	background-size:auto;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow: hidden;
}

body, td, th
{
	color: #FFFFFF;
}

.fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;
}

.fullscreen-bg__video
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.dimmer
{
	background-color: #000000;
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	width: 100%;
	height: 100%;
	z-index: 1004;
	
	opacity: 0;
}

div.dim2
{
	cursor: none;
	background-color: #000000;
	position: fixed;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	width: 100%;
	height: 100%;
	z-index: 1002;
	
	opacity: 0;
}

div.config
{
	opacity: 0.2;
}

div.config:hover
{
	opacity: 0.8;
}

div.debug
{
	font-family: Sk-Modernist-Bold;
	font-size: 20px;
}

div.weather 
{
	font-family: Sk-Modernist-Bold;
	text-shadow: 2px 2px 10px #AAAAAA;
	text-align: right;
	position: absolute;
	top: 5%;
	right: 5%;
	height: 200px;
	width: 500px;
	background-color: rgba(33,33,33,.50);
	border-radius: 10px;
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

div.weatherTitle
{
	font-family: Sk-Modernist-Bold;
	text-shadow: 2px 2px 10px #AAAAAA;
	text-align: right;
	font-size: 20px;
	position: absolute;
	top: 3%;
	right: 2%;
}

div.weatherLocation
{
	font-family: Sk-Modernist-Bold;
	text-shadow: 2px 2px 10px #AAAAAA;
	text-align: right;
	font-size: 20px;
	position: absolute;
	bottom: 3%;
	right: 2%;
}

div.weatherCurrentTemp
{
	font-family: Sk-Modernist-Bold;
	text-shadow: 2px 2px 10px #AAAAAA;
	text-align: left;
	position: absolute;
	top: 67%;
	left: 5%;
	font-size: 50px;	
}

div.weatherImages
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute;
	position: absolute;
	top: 10%;
}

div.weatherImages #firstImage
{
	width: 120px;
	height: 120px;
	background-image: url(placeholder.png);
	position: absolute;
	left: 5%;
	text-align: right;
	text-shadow: 2px 2px 10px #333333;
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
	
}

div.weatherImages #secondImage
{
	width: 80px;
	height: 80px;
	background-image: url(placeholder.png);
	background-size: 145px 100px;
	position: absolute;
	left: 30%;
	top: 35px;
	text-align: right;
	text-shadow: 2px 2px 10px #333333;
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 2.2s;
	-moz-animation-delay: 2.2s;
	animation-delay: 2.2s;
}

div.weatherImages #thirdImage
{
	width: 80px;
	height: 80px;
	background-image: url(placeholder.png);
	background-size: 145px 100px;
	position: absolute;
	left: 48%;
	top: 35px;
	text-align: right;
	text-shadow: 2px 2px 10px #333333;
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 2.7s;
	-moz-animation-delay: 2.7s;
	animation-delay: 2.7s;
}

div.weatherImages #fourthImage
{
	width: 80px;
	height: 80px;
	background-image: url(placeholder.png);
	background-size: 145px 100px;
	position: absolute;
	left: 65%;
	top: 35px;
	text-align: right;
	text-shadow: 2px 2px 10px #333333;
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 3.2s;
	-moz-animation-delay: 3.2s;
	animation-delay: 3.2s;
}

div.weatherImages #fifthImage
{
	width: 80px;
	height: 80px;
	background-image: url(placeholder.png);
	background-size: 145px 100px;
	position: absolute;
	left: 82%;
	top: 35px;
	text-align: right;
	text-shadow: 2px 2px 10px #333333;
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 3.7s;
	-moz-animation-delay: 3.7s;
	animation-delay: 3.7s;
}

div.rssfeed
{
	font-family: Sk-Modernist-Bold;
	text-shadow: 2px 2px 10px #AAAAAA;
	position: absolute;
	top: 5%;
	left: 5%;
	height: 500px;
	width: 30%;
	background-color: rgba(33,33,33,.50);
	border-radius: 10px;
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

div.back
{
	font-family: Sk-Modernist-Bold;
	text-shadow: 10px 10px 24px #000000;
	font-size: 40px;
}

div.time
{
	font-family: Sk-Modernist-Bold;
	text-shadow: 10px 10px 24px #000000;
	position: absolute;
	top: 65%;
	width: 100%;
	text-align: center;
	font-size: 80px;
	z-index: 1003;
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

div.greeting
{
	font-family: Sk-Modernist-Bold;
	text-shadow: 10px 10px 24px #000000;
	position: absolute;
	top: 82%;
	width: 100%;
	text-align: center;
	font-size: 25px;	
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 3.7s;
	-moz-animation-delay: 3.7s;
	animation-delay: 3.7s;
}

div.error
{
	font-family: Sk-Modernist-Bold;
	position: absolute;
	width: 100%;
	text-align: center;
	color: #FF0000;
}

div.music
{
	font-family: Sk-Modernist-Bold;
	position: absolute;
	top: 97%;
	width: 100%;
	text-align: center;	
	background-color: rgba(33,33,33,.50);
	
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.ticker-wrap {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
	
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	animation-delay: 0.7s;
	
    position: absolute;
    top: 90%;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-left: 100%; 
}

.ticker {
	-webkit-animation: ticker linear infinite;
	-moz-animation: ticker linear infinite;
	animation: ticker linear infinite;
	
	-webkit-animation-duration: 180s;
	-moz-animation-duration: 180s;
	animation-duration: 180s;

    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%; // taken from container as display inline-block
	overflow:hidden;
}

.ticker__item {
	font-family: Sk-Modernist-Bold;
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: white;
	overflow: hidden;
}

div.tempUsername
{
	display: none;
	opacity: 0;
}

div.tempLocation
{
	display: none;
	opacity: 0;
}